[submodule "References/Awesome-Red-Teaming"]
	path = References/Awesome-Red-Teaming
	url = https://github.com/quikilr/Awesome-Red-Teaming.git
[submodule "Labs/AutomatedLab"]
	path = Labs/AutomatedLab
	url = https://github.com/quikilr/AutomatedLab.git
[submodule "Labs/DetectionLab"]
	path = Labs/DetectionLab
	url = https://github.com/clong/DetectionLab.git
[submodule "Initial_access/Payload_generation/demiguise"]
	path = Initial_access/Payload_generation/demiguise
	url = https://github.com/nccgroup/demiguise.git
[submodule "Initial_access/Payload_generation/EmbedInHTML"]
	path = Initial_access/Payload_generation/EmbedInHTML
	url = https://github.com/Arno0x/EmbedInHTML.git
[submodule "Initial_access/Payload_generation/CACTUSTORCH"]
	path = Initial_access/Payload_generation/CACTUSTORCH
	url = https://github.com/mdsecactivebreach/CACTUSTORCH.git
[submodule "Initial_access/Payload_generation/morphHTA"]
	path = Initial_access/Payload_generation/morphHTA
	url = https://github.com/mdsecactivebreach/morphHTA.git
[submodule "Initial_access/Payload_generation/genHTA"]
	path = Initial_access/Payload_generation/genHTA
	url = https://github.com/mdsecactivebreach/genHTA.git
[submodule "Reconnaissance/People/LinkedInt"]
	path = Reconnaissance/People/LinkedInt
	url = https://github.com/mdsecactivebreach/LinkedInt.git
[submodule "Initial_access/Federated_services/LyncSniper"]
	path = Initial_access/Federated_services/LyncSniper
	url = https://github.com/mdsecactivebreach/LyncSniper.git
[submodule "Initial_access/Federated_services/ruler"]
	path = Initial_access/Federated_services/ruler
	url = https://github.com/sensepost/ruler.git
[submodule "Initial_access/Federated_services/MailSniper"]
	path = Initial_access/Federated_services/MailSniper
	url = https://github.com/dafthack/MailSniper.git
[submodule "Initial_access/Targeting/EmailAddressMangler"]
	path = Initial_access/Targeting/EmailAddressMangler
	url = https://github.com/dafthack/EmailAddressMangler.git
[submodule "Initial_access/Targeting/statistically-likely-usernames"]
	path = Initial_access/Targeting/statistically-likely-usernames
	url = https://github.com/insidetrust/statistically-likely-usernames.git
[submodule "Initial_access/Payload_generation/GreatSCT"]
	path = Initial_access/Payload_generation/GreatSCT
	url = https://github.com/GreatSCT/GreatSCT.git
[submodule "Initial_access/Payload_generation/Office-DDE-Payloads"]
	path = Initial_access/Payload_generation/Office-DDE-Payloads
	url = https://github.com/0xdeadbeefJERKY/Office-DDE-Payloads.git
[submodule "Initial_access/Payload_generation/unicorn"]
	path = Initial_access/Payload_generation/unicorn
	url = https://github.com/trustedsec/unicorn.git
[submodule "Staging/Chameleon"]
	path = Staging/Chameleon
	url = https://github.com/mdsecactivebreach/Chameleon.git
[submodule "Staging/domainhunter"]
	path = Staging/domainhunter
	url = https://github.com/threatexpress/domainhunter.git
[submodule "Staging/FindFrontableDomains"]
	path = Staging/FindFrontableDomains
	url = https://github.com/rvrsh3ll/FindFrontableDomains.git
[submodule "References/CheatSheets"]
	path = References/CheatSheets
	url = https://github.com/HarmJ0y/CheatSheets.git
[submodule "Lateral_movement/PowerSploit"]
	path = Lateral_movement/PowerSploit
	url = https://github.com/PowerShellMafia/PowerSploit/
[submodule "Lateral_movement/BloodHound"]
	path = Lateral_movement/BloodHound
	url = https://github.com/BloodHoundAD/BloodHound.git
[submodule "Lateral_movement/Inveigh"]
	path = Lateral_movement/Inveigh
	url = https://github.com/Kevin-Robertson/Inveigh.git
[submodule "Lateral_movement/nishang"]
	path = Lateral_movement/nishang
	url = https://github.com/samratashok/nishang.git
[submodule "Lateral_movement/PowerUpSQL"]
	path = Lateral_movement/PowerUpSQL
	url = https://github.com/NetSPI/PowerUpSQL.git
[submodule "Lateral_movement/SessionGopher"]
	path = Lateral_movement/SessionGopher
	url = https://github.com/fireeye/SessionGopher.git
[submodule "Lateral_movement/Misc-PowerShell-Stuff"]
	path = Lateral_movement/Misc-PowerShell-Stuff
	url = https://github.com/enigma0x3/Misc-PowerShell-Stuff.git
[submodule "Initial_access/subTee-gits-backups"]
	path = Initial_access/subTee-gits-backups
	url = https://github.com/re4lity/subTee-gits-backups.git
[submodule "Reconnaissance/People/raven"]
	path = Reconnaissance/People/raven
	url = https://github.com/0x09AL/raven.git
[submodule "Reconnaissance/People/PyHunter"]
	path = Reconnaissance/People/PyHunter
	url = https://github.com/VonStruddle/PyHunter.git
[submodule "Reconnaissance/Technology/DNS/Anubis"]
	path = Reconnaissance/Technology/DNS/Anubis
	url = https://github.com/jonluca/Anubis.git
[submodule "Reconnaissance/Technology/DNS/blacksheepwall"]
	path = Reconnaissance/Technology/DNS/blacksheepwall
	url = https://github.com/tomsteele/blacksheepwall.git
[submodule "Reconnaissance/Technology/DNS/dnscan"]
	path = Reconnaissance/Technology/DNS/dnscan
	url = https://github.com/rbsec/dnscan.git
[submodule "Reconnaissance/Technology/DNS/Sublist3r"]
	path = Reconnaissance/Technology/DNS/Sublist3r
	url = https://github.com/aboul3la/Sublist3r.git
[submodule "Initial_access/Payload_generation/Invoke-CradleCrafter"]
	path = Initial_access/Payload_generation/Invoke-CradleCrafter
	url = https://github.com/danielbohannon/Invoke-CradleCrafter.git
[submodule "Initial_access/Payload_generation/Invoke-Obfuscation"]
	path = Initial_access/Payload_generation/Invoke-Obfuscation
	url = https://github.com/danielbohannon/Invoke-Obfuscation.git
[submodule "Command_and_control/WMImplant"]
	path = Command_and_control/WMImplant
	url = https://github.com/ChrisTruncer/WMImplant.git
[submodule "Lateral_movement/WMIOps"]
	path = Lateral_movement/WMIOps
	url = https://github.com/ChrisTruncer/WMIOps.git
[submodule "Initial_access/Payload_generation/Veil"]
	path = Initial_access/Payload_generation/Veil
	url = https://github.com/Veil-Framework/Veil.git
[submodule "Command_and_control/Cobalt_strike/Aggressor/Aggressor-scripts"]
	path = Command_and_control/Cobalt_strike/Aggressor/Aggressor-scripts
	url = https://github.com/Und3rf10w/Aggressor-scripts.git
[submodule "Command_and_control/Cobalt_strike/Aggressor/AggressorScripts"]
	path = Command_and_control/Cobalt_strike/Aggressor/AggressorScripts
	url = https://github.com/harleyQu1nn/AggressorScripts.git
[submodule "Command_and_control/Cobalt_strike/Aggressor/bluescreenofjeff"]
	path = Command_and_control/Cobalt_strike/Aggressor/bluescreenofjeff
	url = https://github.com/bluscreenofjeff/AggressorScripts.git
[submodule "Command_and_control/Cobalt_strike/Aggressor/persistence-aggressor-script"]
	path = Command_and_control/Cobalt_strike/Aggressor/persistence-aggressor-script
	url = https://github.com/ZonkSec/persistence-aggressor-script.git
[submodule "Command_and_control/Empire"]
	path = Command_and_control/Empire
	url = https://github.com/EmpireProject/Empire.git
[submodule "Lateral_movement/mimikatz"]
	path = Lateral_movement/mimikatz
	url = https://github.com/gentilkiwi/mimikatz.git
[submodule "Command_and_control/trevorc2"]
	path = Command_and_control/trevorc2
	url = https://github.com/trustedsec/trevorc2.git
[submodule "Establish_foothold/UACME"]
	path = Establish_foothold/UACME
	url = https://github.com/darkoperator/UACME.git
[submodule "Establish_foothold/PowerLurk"]
	path = Establish_foothold/PowerLurk
	url = https://github.com/Sw4mpf0x/PowerLurk.git
[submodule "Lateral_movement/KeeThief"]
	path = Lateral_movement/KeeThief
	url = https://github.com/HarmJ0y/KeeThief.git
[submodule "Initial_access/subjack"]
	path = Initial_access/subjack
	url = https://github.com/haccer/subjack.git
[submodule "Initial_access/Phishing/gophish"]
	path = Initial_access/Phishing/gophish
	url = https://github.com/gophish/gophish.git
[submodule "Initial_access/Phishing/social-engineer-toolkit"]
	path = Initial_access/Phishing/social-engineer-toolkit
	url = https://github.com/trustedsec/social-engineer-toolkit.git
[submodule "Initial_access/Phishing/FiercePhish"]
	path = Initial_access/Phishing/FiercePhish
	url = https://github.com/Raikia/FiercePhish.git
[submodule "References/SadProcessorCheats"]
	path = References/SadProcessorCheats
	url = https://github.com/SadProcessor/Cheats.git
[submodule "Lateral_movement/red-team-scripts"]
	path = Lateral_movement/red-team-scripts
	url = https://github.com/threatexpress/red-team-scripts.git
[submodule "Lateral_movement/mimikittenz"]
	path = Lateral_movement/mimikittenz
	url = https://github.com/putterpanda/mimikittenz.git
[submodule "Reconnaissance/Technology/GitLoot"]
	path = Reconnaissance/Technology/GitLoot
	url = https://github.com/0xdade/GitLoot.git
[submodule "Initial_access/Payload_generation/macro_pack"]
	path = Initial_access/Payload_generation/macro_pack
	url = https://github.com/sevagas/macro_pack.git
[submodule "Initial_access/Payload_generation/CheckPlease"]
	path = Initial_access/Payload_generation/CheckPlease
	url = https://github.com/Arvanaghi/CheckPlease.git
[submodule "Staging/CatMyFish"]
	path = Staging/CatMyFish
	url = https://github.com/Mr-Un1k0d3r/CatMyFish.git
[submodule "Initial_access/Payload_generation/DKMC"]
	path = Initial_access/Payload_generation/DKMC
	url = https://github.com/Mr-Un1k0d3r/DKMC
[submodule "Lateral_movement/RedTeamPowershellScripts"]
	path = Lateral_movement/RedTeamPowershellScripts
	url = https://github.com/Mr-Un1k0d3r/RedTeamPowershellScripts.git
[submodule "Lateral_movement/SCT-obfuscator"]
	path = Lateral_movement/SCT-obfuscator
	url = https://github.com/Mr-Un1k0d3r/SCT-obfuscator.git
[submodule "Lateral_movement/PowerLessShell"]
	path = Lateral_movement/PowerLessShell
	url = https://github.com/Mr-Un1k0d3r/PowerLessShell.git
[submodule "Command_and_control/Cobalt_strike/Aggressor/ramen0x3f"]
	path = Command_and_control/Cobalt_strike/Aggressor/ramen0x3f
	url = https://github.com/ramen0x3f/AggressorScripts.git
[submodule "Staging/EvilURL"]
	path = Staging/EvilURL
	url = https://github.com/UndeadSec/EvilURL.git
[submodule "Reconnaissance/Technology/truffleHog"]
	path = Reconnaissance/Technology/truffleHog
	url = https://github.com/dxa4481/truffleHog.git
[submodule "Command_and_control/Cobalt_strike/external_c2_framework"]
	path = Command_and_control/Cobalt_strike/external_c2_framework
	url = https://github.com/Und3rf10w/external_c2_framework.git
[submodule "Command_and_control/Cobalt_strike/ExternalC2"]
	path = Command_and_control/Cobalt_strike/ExternalC2
	url = https://github.com/ryhanson/ExternalC2.git
[submodule "Initial_access/Phishing/phishery"]
	path = Initial_access/Phishing/phishery
	url = https://github.com/ryhanson/phishery.git
[submodule "Command_and_control/WSC2"]
	path = Command_and_control/WSC2
	url = https://github.com/Arno0x/WSC2
[submodule "Lateral_movement/Invoke-PSImage"]
	path = Lateral_movement/Invoke-PSImage
	url = https://github.com/peewpw/Invoke-PSImage.git
[submodule "Initial_access/Phishing/ReelPhish"]
	path = Initial_access/Phishing/ReelPhish
	url = https://github.com/fireeye/ReelPhish.git
[submodule "Command_and_control/c2"]
	path = Command_and_control/c2
	url = https://github.com/averagesecurityguy/c2.git
[submodule "Staging/Red-Team-Infrastructure-Wiki"]
	path = Staging/Red-Team-Infrastructure-Wiki
	url = https://github.com/bluscreenofjeff/Red-Team-Infrastructure-Wiki.git
[submodule "Staging/Red-Baron"]
	path = Staging/Red-Baron
	url = https://github.com/Coalfire-Research/Red-Baron.git
[submodule "Reconnaissance/Frameworks/spiderfoot"]
	path = Reconnaissance/Frameworks/spiderfoot
	url = https://github.com/smicallef/spiderfoot.git
[submodule "Reconnaissance/Frameworks/recon-ng"]
	path = Reconnaissance/Frameworks/recon-ng
	url = https://bitbucket.org/LaNMaSteR53/recon-ng.git
[submodule "Reconnaissance/FOCA"]
	path = Reconnaissance/FOCA
	url = https://github.com/ElevenPaths/FOCA.git
[submodule "Lateral_movement/3snake"]
	path = Lateral_movement/3snake
	url = https://github.com/blendin/3snake.git
[submodule "Initial_access/Payload_generation/luckystrike"]
	path = Initial_access/Payload_generation/luckystrike
	url = https://github.com/curi0usJack/luckystrike.git
[submodule "Lateral_movement/ntdsxtract"]
	path = Lateral_movement/ntdsxtract
	url = https://github.com/csababarta/ntdsxtract.git
[submodule "Lateral_movement/mimipenguin"]
	path = Lateral_movement/mimipenguin
	url = https://github.com/ahhh/mimipenguin.git
[submodule "Staging/catphish"]
	path = Staging/catphish
	url = https://github.com/ring0lab/catphish.git
[submodule "Staging/Lazy-RedTeamer-Scripts"]
	path = Staging/Lazy-RedTeamer-Scripts
	url = https://github.com/yeyintminthuhtut/Lazy-RedTeamer-Scripts.git
[submodule "Lateral_movement/Java_deserial/java-deserialization-exploits"]
	path = Lateral_movement/Java_deserial/java-deserialization-exploits
	url = https://github.com/Coalfire-Research/java-deserialization-exploits.git
[submodule "Initial_access/Payload_generation/SharpShooter"]
	path = Initial_access/Payload_generation/SharpShooter
	url = https://github.com/mdsecactivebreach/SharpShooter.git
[submodule "Lateral_movement/Internal-Monologue"]
	path = Lateral_movement/Internal-Monologue
	url = https://github.com/eladshamir/Internal-Monologue.git
[submodule "Lateral_movement/Java_deserial/Java-Deserialization-Cheat-Sheet"]
	path = Lateral_movement/Java_deserial/Java-Deserialization-Cheat-Sheet
	url = https://github.com/GrrrDog/Java-Deserialization-Cheat-Sheet.git
[submodule "Initial_access/Probable-Wordlists"]
	path = Initial_access/Probable-Wordlists
	url = https://github.com/berzerk0/Probable-Wordlists.git
[submodule "Lateral_movement/DSInternals"]
	path = Lateral_movement/DSInternals
	url = https://github.com/MichaelGrafnetter/DSInternals.git
[submodule "Lateral_movement/PowerSploitDev"]
	path = Lateral_movement/PowerSploitDev
	url = https://github.com/PowerShellMafia/PowerSploit.git
[submodule "Initial_access/UltimateAppLockerByPassList"]
	path = Initial_access/UltimateAppLockerByPassList
	url = https://github.com/api0cradle/UltimateAppLockerByPassList
[submodule "Initial_access/Federated_services/CredKing"]
	path = Initial_access/Federated_services/CredKing
	url = https://github.com/ustayready/CredKing.git
[submodule "Labs/Invoke-UserSimulator"]
	path = Labs/Invoke-UserSimulator
	url = https://github.com/ubeeri/Invoke-UserSimulator.git
[submodule "ClickOnceGenerator"]
	path = ClickOnceGenerator
	url = https://github.com/Mr-Un1k0d3r/ClickOnceGenerator.git
[submodule "Initial_access/Payload_generation/ClickOnceGenerator"]
	path = Initial_access/Payload_generation/ClickOnceGenerator
	url = https://github.com/Mr-Un1k0d3r/ClickOnceGenerator.git
[submodule "Labs/Invoke-ADLabDeployer"]
	path = Labs/Invoke-ADLabDeployer
	url = https://github.com/outflanknl/Invoke-ADLabDeployer.git
[submodule "Lateral_movement/ShellIntelScripts"]
	path = Lateral_movement/ShellIntelScripts
	url = https://github.com/Shellntel/scripts.git
[submodule "Initial_access/PoSHBypass"]
	path = Initial_access/PoSHBypass
	url = https://github.com/davehardy20/PoSHBypass.git
[submodule "Reconnaissance/Technology/goGetBucket"]
	path = Reconnaissance/Technology/goGetBucket
	url = https://github.com/glen-mac/goGetBucket.git
[submodule "Lateral_movement/d8072d730b24fbae6ffe3aed8ca9c407"]
	path = Lateral_movement/d8072d730b24fbae6ffe3aed8ca9c407
	url = https://gist.github.com/d8072d730b24fbae6ffe3aed8ca9c407.git
[submodule "Lateral_movement/credgrap_ie_edge"]
	path = Lateral_movement/credgrap_ie_edge
	url = https://github.com/HanseSecure/credgrap_ie_edge.git
[submodule "Initial_access/aws_pwn"]
	path = Initial_access/aws_pwn
	url = https://github.com/dagrz/aws_pwn.git
[submodule "Reconnaissance/People/prowl"]
	path = Reconnaissance/People/prowl
	url = https://github.com/nettitude/prowl
